node_modules
build
coverage
.idea
craco.config.js
package-lock.json
openapi-spec.json
/test/unit/__mocks__/file.mock.js
/test/cypress/support/commands/utils.ts
/.nyc_output/
/src/module/api
/src/module/common/icons
/src/script/iconGeneratorNative.js
/src/script/imagesGenerator.js
/src/utils/color.js
/src/utils/debounce.ts
/src/utils/deepmerge.ts
