{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": 1,
        "react/react-in-jsx-scope": 0,
        "@typescript-eslint/no-var-requires": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
